
/*-------------colours*/
.bg-header-body-color {
    background-color: black;
}
.bg-footer-color {
    background-color: #FED000;
}
.plan-bg {
    background-color: black;
}
/*--------------------Special Padding/Margins/Texts*/
.sub-text{
    font-family:"lato", sans-serif;
    font-weight: 200;
    color: black;
}
.sub-text-jb {
    font-family:"lato", sans-serif;
    font-weight: 200;
    color: #FED000;
    font-size: 150%
}
.sub-title {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color:#FED000;
    margin: 0;
}
.sub-title-jb {
    font-family: "Anton", sans-serif;
    font-size: 400%;
    text-align: left;
    color: #FED000;
}

.sub-title-acc {
    font-family: "Anton", sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color:#FED000;
    background-color: black;
    margin: 0;
}

.section-container {
     padding: 0;
     margin:0;
}

.section-row {
    padding:0;
    margin:0;
}

.testimonials-block li {
    width: 33%;
    background-color: black;
    border: 15px #FED000;
    
}

.list-inline-item span {
    font-size: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*--------------------Heading*/
header {
    margin: 0;
}
.heading {
    margin: auto;
    padding: 20px;
}

#logo {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 6.5vw;
    color: #FED000;
    text-align: left;
}

.col-md-6 a {
    text-decoration: none;
}
#logo-quote {
    font-family: "Lato", sans-serif;
    text-align: right;
    font-size: 3.5vw;
    font-weight: 300;
    color: #FED000;
}

.nav {
    background-color: #fafafa;
}

.nav-link {
    color: black;
    font-size: 20px;
}

.nav-item a:hover {
    color: #FED000;
}


/*---------------------------Footer*/

#footer-quote {
    padding: 15px;
}

.inline-block {
    display: inline-block;
    text-align: center;
}

.socials li a i {
    width: 40px;
    height: 40px;
    font-size: 50px;
    margin: 20px;
    color: black;
}


.list-inline-item i:hover {
    color:#fafafa;
}


/*--------------------Index.html body*/



#mission-jb .jumbotron {  
    color: #FED000;
    font-size: 100%;
    background-color: black;
    height: 375px;
}

.tile {
    background-color: black;
    min-height: 220px;
    min-width:200px;
    padding: 0px;
    margin: 0px;

}

.tile-number {
    color: #FED000;
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 300%;
    padding-top:20px;
}

.blockquote {
    text-align: left;
    float: right;
    font-family: "Lato", sans-serif;
    color: #FED000;
}

.blockquote p {
    width:240px;
    margin-left: 15px;
    font-size: 100%;
    text-align: left;
    float: right;
    overflow: hidden;
}

#t-img-samuel {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 50px;
}

#t-img-ben {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}

#t-img-linda {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}

.card-body {
    font-size: 120%;
    background-color: black;
    height: 500px;
    width: 100%;
    display: flex;
}

.card-body .accordion-img {
    height: 100%;
    width: 50%;
    display: inline-flex;
}

.accordion-txt {
    margin-top: 125px;
    padding-left: 15px;
    font-size: 120%;
    color:#FED000;
    display: inline-flex;
    text-align: center;
}

.card .card-body:hover {
    color: #FED000;
}

/*--------------------Nutrition.html body*/
#nutrition-jb .jumbotron {
    background-color: black;
    background-size: cover;
    height: 375px;
}

.card-img-top {
    height: 400px;
}

.nutrition-body {
    display: block;
    color: #fafafa;
}

.card .card-body a:hover {
    background-color: #FED000;
    color: #fafafa;
}

#plan-jb .jumbotron {
    background-color: black;
    height: 400px;
}

.progress {
    height: 30px;
    background-color:black;
}
.progress-bar{
    height: 30px;
    background-color: black;
}

.plan-title {
    font-family: "Anton", sans-serif;
    font-size: 45px;
    color: #FED000;
    font-style: italic;
}
.plan-txt {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #fafafa;
}
.plan-txt-alt {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #FED000;
}

.line-break {
    background-color:#FED000;
}

.line-break-plan {
    background-color: #FED000;
    border-left: 1px solid #FED000; 
    height: 220px; 
    position:absolute; 
    left: 15%;
}

#plan-container {
    overflow: hidden;
}

#plan-side-left {
    float: left;
    color: #FED000;
    width: 10%;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 22px;
}

#plan-side-right {
    float: right;
    width:75%;
}


.btn-plan {
    color: #FED000;
    background-color: black;
    font-family: "Anton";
    font-size: 40px;
}

.btn-plan:hover {
    color: #fafafa;
}

#plan-signup-btn:hover {
    color:black;
    background-color: #FED000;
}
/*--------------------exercises.html*/
#exercises-jb .jumbotron {
    background-color: black;
    background-size: cover;
    height: 375px;
}
.carousel-inner {
    height: 700px;
}
.carousel-item{
    height: 700px;
}

.carousel-caption {
    color: #FED000;
    margin-bottom: 100px;
    margin-right: 700px
}

#video-critique-jb .jumbotron {
    background-color: black;
    height: 400px;
}

.video-critique a:hover {
    background-color: #FED000;
    color: white;
}
/*--------------------contact.html*/
#contact-jb .jumbotron {
    background-color: black;
    height: 375px;
}

#contact-form button:hover {
    background-color: black;
    color: #FED000;
}

#contact-thankyou-jb .jumbotron {
    background-color: black;
    height: 400px;
}



/*--------------------Media Queries*/
@media(max-width: 576px) {
    #mission-statement {
        font-size: 12px;
    }
    .nav-link {
        font-size: 15px;
    }
    .sub-title {
        font-size: 35px;
        padding-bottom: 5px;
    }
    #logo {
        font-size: 50px;
        text-align:center;
    }
    .blockquote {
        font-size: 125%;
    }
    .socials li a i {
        font-size: 35px;
    }
    #t-img-samuel, #t-img-ben, #t-img-linda {
        margin-left: 13px;
    }
    .blockquote {
        padding-top: 20px;
    }
    .tile {
        display: inline-flex;
    }
    .accordion-txt {
        font-size: 50%;
        padding-top: 10px;
        display: inline-block;
    }
    .card-body .accordion-img {
        height: auto;
        width: 35%;
    }
   #nutrition-statement {
        height: 500px;
        font-size: 15px;
    }
    .plan-bg {
        height: 650px;
        font-size: 10px;
    }
    #plan-side-right {
        display: block;
        width:100%;
    }
    #exercises-statement {
        height: 500px;
        font-size: 12px;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-inner {
        height: 300px;
    }
    .carousel-item {
        height: 350px;
    }
    #video-critique-jb .jumbotron {
        height: 500px;
        font-size: 12px;
        margin-bottom: 300px;
    }
    #contact-jb {
        height: 500px;
        font-size: 12px;
    }
    #contact-thankyou-jb .jumbotron {
        height:500px;
    }
}


@media (max-width:768px) {
    .blockquote p {
        font-size: 16px;
        padding-top:30px;
        padding-right: 5px;
        margin-right: 10px;
        text-align: center;
        float: right;
    }
    .t-img {
        display: block;
        margin: 10px;
        width:125px;
    }
    .tile {
        padding-bottom: 0px;
    }
    #plan-side-right {
       display: block;
       width: 100%;
    }
    .plan-bg {
        height: 500px;
    }
    .card-img-top {
        height: 300px;
    }
    }