
/*-------------colours*/
.bg-header-body-color {
    background-color: #12191d;
}
.bg-footer-color {
    background-color: #77a6f7;
}
/*--------------------Special Padding/Margins/Texts*/
.sub-text{
    font-family:"lato", sans-serif;
    font-weight: 200;
    color: #12191d;
}

.sub-text-alt {
    font-family:"lato", sans-serif;
    font-weight: 200;
    color: #fafafa;
}

.section-container {
     padding: 0;
     margin:0;
}

.section-row {
    padding:0;
    margin:0;
}

.testimonials-block li {
    width: 33%;
    background-color: #12191d;
    border: 15px #fafafa;
    
}

.list-inline-item span {
    font-size: 30px;
    float: centre;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*--------------------Heading*/
header {
    margin: 0;
}
.heading {
    margin: auto;
    padding: 20px;
}

#logo {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 6.5vw;
    color: #fafafa;
    text-align: left;
}

.col-md-6 a {
    text-decoration: none;
}
#logo-quote {
    font-family: "Lato", sans-serif;
    text-align: right;
    font-size: 3.5vw;
    font-weight: 300;
    color: #fafafa;
}

.nav {
    background-color: #fafafa;
}

.nav-link {
    color: #12191d;
    font-size: 20px;
}

/*---------------------------Footer*/

#footer-quote {
    padding: 15px;
}

.inline-block {
    display: inline-block;
    text-align: center;
}

.socials li a i {
    width: 40px;
    height: 40px;
    font-size: 50px;
    text-emphasis: center;
    margin: 20px;
    color: #12191d;
    transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
}

.list-inline-item i:hover {
    color: #fafafa;
}

/*--------------------Index.html body*/

.sub-title {
    font-family: "Anton", sans-serif;
    font-weight: 200%;
    font-size: 50px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color:#fafafa;
    background-color: #12191d;
    margin: 0;
}

#mission-statement {
    font-family: "Lato", sans-serif;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background-image:url(../Images/home-image.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
}

.tile {
    background-color: #12191d;
    min-height: 220px;
    min-width:200px;
    padding: 0px;
    margin: 0px;
}

.tile-number {
    color: #fafafa;
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 300%;
    padding-top:20px;
}

.tile-img {
    padding-top: 10px;
}
.blockquote {
    text-align: left;
    float: right;
    font-family: "Lato", sans-serif;
    color: #fafafa;
}

.blockquote p {
    width:240px;
    margin-left: 15px;
    font-size: 100%;
    text-align: left;
    float: right;
    overflow: hidden;
}

#t-img-samuel {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 50px;
}

#t-img-ben {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}

#t-img-linda {
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}

.card-body {
    font-size: 120%;
    background-color: #12191d;
    height: 230px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-body .accordion-img {
    height: auto;
    width: 25%;
    
}

.accordion-txt {
    padding-left: 15px;
    font-size: 120%;
    display: inline-block;
    color:#fafafa;
}




/*--------------------Media Queries*/
@media(max-width: 576px) {
    #mission-statement {
        min-height: 80px;
        font-size: 15px;
        line-height: 22.5px;
        background-size: center;
        background-size: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-link {
        font-size: 10px;
    }
    .sub-title {
        font-size: 25px;
        padding-bottom: 5px;
    }
    #logo {
        font-size: 50px;
        text-align:center;
    }
    .blockquote {
        font-size: 125%;
    }
    .socials li a i {
        font-size: 35px;
    }
    .t-img {
        width:50px;
    }
    .accordion-txt {
        font-size: 50%;
        padding-top: 10px;
    }
    .card-body .accordion-img {
        height: auto;
        width: 35%;
    }
    
}

@media (max-width:768px) {
    .blockquote p {
        font-size: 16px;
        padding-top:30px;
        padding-right: 5px;
        margin-right: 10px;
        text-align: center;
        float: right;
    }
    .t-img {
        display: block;
        margin: 10px;
        width:125px;
    }
    .tile {
        padding-bottom: 0px;
    }
}
